@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';

.spacer-60 {
  height: 60px;
}

.spacer-120 {
  height: 120px;
}

.container {
  font-family: $main_font;
  color: $text_main;
}

.card {
  border: none;
}

.card-img-top {
  border-radius: 10px;
}

.title {
  font-family: $main_font_Bold;
  font-size: 24px;
  text-align: center;
  margin: 20px 0px;
}

.discount-description {
  padding: 0px 20px;
}

.breadcrumb-wraper {
  margin-top: 25px;
}

.breadcrumb {
  font-size: 15px;
}

ul,
ol,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.breadcrumb-divider {
  --bs-breadcrumb-divider: url("https://firebasestorage.googleapis.com/v0/b/monosushi-c5ebc.appspot.com/o/images%2FIcons%2Fsushi.png?alt=media&token=d42aee5e-06cb-4d27-9b0d-831e604d4bb5");
  ;
}

.breadcrumb li:nth-child(1),
li:nth-child(2) {
  cursor: pointer;
}

@media screen and (max-width:770px) {

  .spacer-60,
  .spacer-120 {
    display: none;
  }

  .spacer-30 {
    height: 30px;
  }

  .title {
    margin: 10px 0px;
  }

  .discount-description {
    font-size: 14px;
  }

  .breadcrumb-item {
    font-size: 10px;
  }

}