

<form [formGroup]="authForm" class="was-validated" >
   <h2>Вхід в кабінет</h2>
   <div class="mb-3">
     <label for="name" class="form-label is-invalid">Email</label>
     <input formControlName="email" name="name" type="email" class="form-control" id="name" required>
   </div>
   <div class="mb-3">
     <label for="path" class="form-label is-invalid">Password</label>
     <input formControlName="password" name="path" type="password" class="form-control" id="path" required>
   </div>
   <button *ngIf="!isLogin" [disabled]="authForm.invalid" type="submit" class="btns w-100"
           (click)="loginUser()">
           Увійти в кабінет
   </button>
   <button *ngIf="isLogin" [disabled]="authForm.invalid" type="submit" class="btns w-100"
           (click)="registerUser()">
            Зареєструватись
   </button>
   <div class="tip-wpap">
     <a (click)="changeLogin()">{{ !isLogin ? 'Зареєструватись' : 'Вже зареєстровані? Увійти' }}</a>
   </div>
 </form>
