@import '../../shared/styles/variables';
@import '../../shared/styles/fonts';

form {
  width: 100%;
  font-family: $main_font_Bold;

  h2 {
    text-align: center;
  }
}

.close {
  width: 100%;
  text-align: end;

  span {
    font-size: 24px;
    cursor: pointer;
  }
}

.form-group {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

.btns {
  width: 100%;
  border-radius: 10px;
  border: $border;
  background-color: $main;
  transition: 0.35s;
  font-family: $main_font_Bold;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 14px 16px;
  font-size: 15px;
}

.btns:hover {
  background-color: initial;
  color: rgb(0, 0, 0);
}

.btns:focus {
  outline: 0;
  box-shadow: none;
}

.btns:disabled {
  cursor: not-allowed;
  background-color: rgb(233, 233, 233);
  color: rgb(150, 150, 150);
  border: 2px solid rgb(233, 233, 233);
}

.tip-wpap {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $main;
  transition: 0.35s;

  a {
    cursor: pointer;
  }
}

.tip-wpap:hover {
  color: rgb(0, 0, 0);
}

.password-Confirmation-error{
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
