<div class="spacer-60"></div>
<div class="center-info">
  <h2 class="title-center">Продукти</h2>
</div>
<div class="spacer-60"></div>
<div class="container">
  <div class="categories-menu">
    <ul class="categories-list">
      <li class="categories-list-item active">
        <a href="#" class="category">Всі</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category"> Філадельфія</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category">Каліфорнія</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category">Запечені</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category">Фірмові</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category">Преміум</a>
      </li>
      <li class="categories-list-item ">
        <a href="#" class="category">Макі</a>
      </li>
    </ul>
  </div>
  <div class="product-wraper">
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let product of userProducts">
        <div class="product mb-3">
          <div class="product-image-wrap">
            <a class="product-image">
              <img class="img" [src]="product.imagePath"
                   alt="">
            </a>
          </div>
          <div class="product-title-wrap">
            <div class="product-title m-auto">
              <a href="#">{{product.name}}</a>
            </div>
          </div>
          <div class="product-desc">
            <p>{{product.description}}</p>
            <div class="product-size"><span>{{product.weight}}</span> г</div>
          </div>
          <div class="product-controls">
            <div class="product-price-wrap">
              <div class="product-price">
                <b>{{product.price}}</b>
                грн</div>
            </div>
            <div class="thumb-input-number">
              <button type="button" >-</button>
              <input value="1" readonly="" tabindex="-1" max="999">
              <button type="button" >+</button>
            </div>
            <button class="btn-order">
              Замовити
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>