<section>
  <form class="form p-4">
    <div class="form-group">
      <div class="form-title">
        <h5>Зміна паролю</h5>
      </div>
      <input type="password" class="input" name="phone"  inputmode="numeric"
             placeholder="*Ваш поточний пароль" value="" />
      <input type="password" name="email" class="input"
             placeholder="*Новий пароль" value="" />
      <input type="password" name="email" class="input"
             placeholder="*Повторіть пароль" value="" />
    </div>
    <div class="form-group">
      <div class="row justify-content-between">
        <div class="col-md-5">
          <button class="btns">Скасувати</button>
        </div>
        <div class="col-md-5">
          <button class="btns">Зберігти зміни</button>
        </div>
      </div>
    </div>
  </form>
</section>
