<div class="container-fluid">
   
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab"
             role="tablist" aria-orientation="vertical">
            <button class="nav-link" [routerLink]="[ 'discount' ]" 
                    routerLinkActive="btn"
                    type="button">
                    Акції
            </button>
            <button class="nav-link" [routerLink]="[ 'category'  ]" 
                    routerLinkActive="btn"
                    type="button">
                    Категорії
            </button>
            <button class="nav-link" [routerLink]="[ 'product' ]"
                     routerLinkActive="btn"
                     type="button">
                     Товари
            </button>
            <button class="nav-link" [routerLink]="[ 'order' ]"
                     routerLinkActive="btn" type="button">
                     Замовлення
           </button>
             <button class="btn mt-5" [routerLink]="[ '/' ]"
                 routerLinkActive="btn">
                 ВИХІД
             </button>
             <div class="spacer-400" ></div>
        </div>
        <div class="tab-content w-100" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>