@import '../shared/styles/variables';
@import '../shared/styles/fonts';

.container-fluid {
  font-family: $main_font;
}

.spacer-40 {
  height: 40px;
}

.spacer-200 {
  height: 200px;
}

.nav-pills {
  width: 155px;
}

.nav-link {
  color: black;
  outline: none;
  padding: 14px 16px;
}

.btna {
  padding: 14px 16px;
  color: black;
  font-family: $main_font_Bold;
  transition: 0.35s;
}

.nav-link:hover {
  color: $main;
}

// ---btns----
.btns {
  width: 100%;
  border-radius: 10px;
  border: $border;
  background-color: $main;
  transition: 0.35s;
  font-family: $main_font_Bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 14px 16px;
  font-size: 17px;
}

.btns:hover {
  background-color: initial;
  color: rgb(0, 0, 0);
}