@font-face {
  font-family: 'RotondaC_Bold';
  src: url('../../shared/styles/Fonts/RotondaC-Bold.ttf');
}

@font-face {
  font-family: 'RotondaC';
  src: url('../../shared/styles/Fonts/RotondaC.ttf');
}