<section>
  <div class="row justify-content-center">
    <nav class=" col-md-3  col-lg-3 col-xl-2 p-4">
      <div class="categories-menu">
        <ul class="categories-list">
          <li class="categories-list-item active" [routerLink]="[ '/user-profile/personal-data' ]">
            <a>Особисті дані</a></li>
          <li class="categories-list-item" [routerLink]="[ '/user-profile/order-history' ]" >
            <a>Історія замовлень</a></li>
          <li class="categories-list-item"><a>Зміна паролю</a></li>
        </ul>
      </div>
      <button class="btns" (click)="logOut()" type="button">
        ВИХІД
      </button>
    </nav>
    <div class="col-md-8 col-lg-8 col-xl-5 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
