@import "../../../shared/styles/variables";
@import "../../../shared/styles/fonts";

input,
textarea,
select {
  border-radius: 0;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.35s;
}

.spacer-70 {
  height: 70px;
}

.container {
  width: 90%;
  font-family: $main_font;
  color: $text_main;
}

.card-title {
  font-family: $main_font_Bold;
  color: $text_main;
  font-size: 42px;
  margin-bottom: 50px;
}

.card-text-title {
  font-size: 18px;
  color: $main;
  font-family: $main_font_Bold;
}

.product-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.product-price {
  font-size: 26px;
  width: 107px;

  b {
    font-family: $main_font_Bold;
  }
}

.thumb-input-number {
  display: inline-flex;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: $text_main;

  button {
    width: 30px;
    border: none;
    font-weight: bold;
    background-color: #fff;
    padding-bottom: 2px;
    margin: 4px;
    font-size: 28px;
  }
}

.thumb-input-number input {
  width: 30px;
  height: 55px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.btn-order {
  transition: 0.35s;
  text-transform: uppercase;
  border-radius: 10px;
  color: #252525;
  padding: 15px 15px;
  font-size: 15px;
  border: 2px solid $main;
  background: $main;
  font-family: $main_font_Bold;
  margin-left: 10px;
}

.btn-order:hover {
  background: inherit;
}

.breadcrumb-wraper {
  margin-top: 25px;
}

.breadcrumb {
  font-size: 15px;
}

.breadcrumb-divider {
  --bs-breadcrumb-divider: url("https://firebasestorage.googleapis.com/v0/b/monosushi-c5ebc.appspot.com/o/images%2FIcons%2Fsushi.png?alt=media&token=d42aee5e-06cb-4d27-9b0d-831e604d4bb5");
}

.breadcrumb li:nth-child(1),
li:nth-child(2) {
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .breadcrumb-item {
    font-size: 10px;
  }

  .spacer-70,
  .spacer-120 {
    display: none;
  }

  .spacer-30 {
    height: 30px;
  }

  .card-title {
    font-size: 34px;
    margin: 10px 0px;
  }

  .product-controls {
    margin-top: 20px;
  }

  .container {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .card-body {
    padding: 5px;
  }

  .product-price {
    min-width: 50px;
    font-size: 16px;
    margin-right: 10px;
    b {
      font-size: 21px;
    }
  }

  .thumb-input-number {
    width: 120px;
    justify-content: space-evenly;
    button {
      font-size: 22px;
      padding-bottom: 0px;
      margin: 2px;
    }

    input {
      height: 45px;
      font-size: 18px;
    }
  }

  .btn-order {
    padding: 10px 15px;
  }
}
